*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aqua;
}


.main_container{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    
    background-color: antiquewhite;
}
.first_row{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.second_row{
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.third_row{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.elements{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color:rgb(179, 163, 107);
}

.elements:hover{
    background-color:rgb(220, 202, 138)
}
h1{
    color: rgb(100, 60, 22);
}
#btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 30px;
    width: 100px;
    background-color: rgb(179, 163, 107);
    border: none;
    color: rgb(100, 60, 22);
}

#btn:hover{
    background-color: rgb(100, 60, 22);
    color: antiquewhite;
    cursor: pointer;
}
